@model IEnumerable<ComicsShopOnline.Domain.Entities.User.UserDBTable>

@{
    ViewBag.Title = "Admin Panel - Users List";
}

<h2>Users:</h2>

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Regitered at</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Username</td>
                <td>@user.Email</td>
                <td>@user.CreationDate.ToString("dd.MM.yyyy")</td>
            </tr>
        }
    </tbody>
</table>
